<article class="shoutout">
  <div class="shout_container">
    <div class="shout_user">
      <span class="fas fa-user"></span> {{user.userFname}} {{user.userLname}} - {{user.city}}, {{user.state}}
     </div>
    <div class ="shout_message">
      {{format_date created_at}} - {{message}}
    </div>
    <div class ="shout_info">
      {{rating_count}} {{format_plural "person" rating_count}} rated this shout out at {{rating_average}}
       {{!-- <a href="/comments/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
      </div>
    <div>
   
  </div>
</article>